body {
    background-image: url("trial.jpg");
    background-position: top;
    background-size: 100%;
    margin: 0px;
    background-attachment: fixed;
    }
h1 {
    font-family: HelveticaNeueLT Std Lt, Helvetica;
    font-style: normal;
    font-size: 3.75em;
    color: solid black;
    text-align: center;
}
.nav {
	background-color: rgba(11,11,11,0.5);
    border-top: 2px solid darkblue;

    display: table;
    width: 100%;
    table-layout:fixed;

}
.nav a { 
    color:  white;
    text-decoration: none;
    font-family: HelveticaNeueLT Std, Helvetica;
    font-size: 1.75em;
    font-weight: 600;
    margin-left: 6.25em;
    display: table-cell;
    text-align: center;
   


}
.nav a:hover {
    background-color: rgba(90,90,90,0.5);
    color: black ;
}

h2 {
    font-family: Helvetica;
    font-size: 1.875em;
    margin-left: 6.25em;
    font-style: normal;
}
.separator {
    border: 2px solid black;
}