body {
    background-color: #F3FFE2;
    Margin: 0px;
    }
h1 {
    font-family: Arial;
    font-style: normal;
    font-size: 60px;
    color: #225378;
    text-align: center;
}
.nav {
	background-color: #EB7F00;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: table;
    width: 100%;
    table-layout:fixed;

}
.nav a { 
    color:  #1695A3;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
    display: table-cell;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black; 


}
.nav a:hover {
    background-color: #FFE11A;
    color: #FD7400 ;
}
